.eachItem{
    display: flex;
    margin-top: 3rem;
}
.thumbnail{
    margin-right: 1rem;
}
.thumbnail img{
    display: block;
    width: 180px;
    height: 120px;
    object-fit: fill;
    border-radius: 5px;
    transition: 1.3s;
 
}
.thumbnail img:hover{
    transform:scale(1.2);
}
.contents{
    margin-left: 1.5rem;
}

.contents h2{
    margin: 0;
}
.contents a{
    color: black;
    text-decoration: none;
}
.contents a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #387bcb;
    transition: .3s;
}
.contents  a:hover::after{
    width: 100%;
    transition: .3s;
}

.contents a:hover{
    color: #387bcb;
    transition: 0.3s;
}
.contents p{
    margin: 0;
    line-height: 1.5;
    margin-top: 0.5rem;
    white-space: normal;
}