:root{
  --main-bg-color:  #112D4E;
  --main-color: #F9F7F7;
  --sub-color-one: #3F72AF;
  --sub-color-two: #00498C;
  --sub-color-three: #DBE2EF;
  --sub-color-four: #4E3211;
  --sub-color-five: #FEF4EB;
  --sub-color-six: #12222D;
}
@media ( min-width: 540px ) {

/* .wrapper {
  background-color: var(--sub-color-one);
} */

.map-page-desktop {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  height: 100vh;
  background: var(--sub-color-one);
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}
.heading{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  color: #333;
  margin-bottom: 40px;
}
.map-condition-desktop.handle {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* left: 90px;
  top: 130px; */
  /* margin-top: 30px; */
  background: var(--sub-color-one);
  justify-content: center;
  align-items: center;
  padding: 15px 40px 15px 40px;
  /* border: 1px  #333; */
  border-radius: 5px;
  cursor: grab;
}
.map-condition-desktop.handle.active{
  cursor: grabbing;
}
.map-condition-desktop.handle select {
  padding: 10px 10px;
  width: 210px;
  margin-bottom: 10px;
}
.map-condition-desktop.handle p {
  color: #333;
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 15px;
}
.button-wrapper-desktop a {
  margin-top: 35px;
  text-decoration: none;
  padding: 10px 23px;
  color: #333;
  font-size: 16px;
  letter-spacing: 3px;
  border: 1px solid #555;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all .5s;
  /* z-index: 1000; */
  border-radius: 3px;
  background: white;
}
.button-wrapper-desktop a:hover{
  color: var(--main-color);
  background: #333;
  transition: all 0.4s;
}
.button-wrapper-desktop a .wave:before{
  content: '';
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  /* background-image: url('../images/wave.png');  */
  animation: wavy 0.2s linear infinite;
}
@keyframes wavy{
  0%{ background-position-x: 0 }
  100% { background-position-x: 118px }
}
.map-box-desktop {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 110px;
  width: 100%;
  height: 70%;
  z-index: 0;
  /* padding: 90px 50px 50px 50px; */
  /* background-color: var(--sub-color-two); */
}
#mapContainer {
  /* border-radius: 10px; */
  border-radius: 7px;
  width: 100%;
  height: 100%;
}
}
@media ( max-width: 540px ) {
  .map-page-desktop {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background: var(--sub-color-one);
      overflow-x: hidden;
  }
  .map-condition-desktop.handle {
      width: 100%;
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      /* position: absolute; */
      /* left: 90px;
      top: 130px; */
      /* margin-top: 30px; */
      background: var(--sub-color-one);
      justify-content: center;
      align-items: center;
      /* padding: 15px 40px 15px 40px; */
      /* border: 1px  #333; */
      border-radius: 5px;
      cursor: grab;
  }
  .heading {
      width: 100%;
      text-align: center;
      font-family: 'Black Han Sans', sans-serif;
      font-size: 20px;
      letter-spacing: -1px;
      color: #333;
      margin-bottom: 7px;
  }
  .election-wrapper-desktop {
      width: 70%;
  }
  .sdName-wrapper-desktop {
      width: 70%;
  }
  .wiwName-wrapper-desktop {
      width: 70%;
  }
  .button-wrapper-desktop {
      width: 70%;
  }
  .map-condition-desktop.handle select {
      padding: 2px 5px;
      width: 100%;
      margin-bottom: 10px;
  }
  .map-page-desktop p {
      display: none;
  }
  .button-wrapper-desktop {
      width: 100%;
  }
  .button-wrapper-desktop a {
      text-align: center;
      width: 100%;
      margin-top: 2px;
      text-decoration: none;
      padding: 8px 25px;
      color: #333;
      font-size: 14px;
      letter-spacing: 2px;
      border: 1px solid #555;
      position: relative;
      display: inline-block;
      overflow: hidden;
      transition: all .5s;
      /* z-index: 1000; */
      border-radius: 3px;
      background: white;
  }
  .button-wrapper-desktop a:hover{
      color: var(--main-color);
      background: #555;
      transition: all 0.4s;
  }
  .button-wrapper-desktop a:hover .wave{
      top: 0;
  }
  .button-wrapper-desktop a .wave{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: calc(100% + 22px);
      background: #555;
      transition: all 0.1s;
      z-index: -1;
  }
  .button-wrapper-desktop a .wave:before{
      content: '';
      position: absolute;
      top: -22px;
      left: 0;
      width: 100%;
      height: 22px;
      /* background-image: url('../images/wave.png');  */
      animation: wavy 0.2s linear infinite;
  }
  @keyframes wavy{
      0%{ background-position-x: 0 }
      100% { background-position-x: 118px }
  }
  .map-box-desktop {
      margin-right: 10px;
      /* margin-top: px; */
      margin-left: auto;
      margin-right: auto;
      width: 75%;
      height: 90%;
      z-index: 0;
      padding: 10px;
      /* padding: 90px 50px 50px 50px; */
      /* background-color: var(--sub-color-two); */
  }
  #mapContainer {

      border-radius: 7px;
      width: 100%;
      height: 100%;
  }
}