@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header-wrap {
  /* border: 1px solid red; */
  z-index: 5000;
  position: fixed;
  /* background-color: white; */
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8281687675070029) 100%);
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0 20px 0 20px;
  align-items: center;
  justify-content: space-between;
}

.header-title-wrap {
  font-size: 30px;
  /* font-size: 4.6vw; */
}
.header-profile{
  display: inline-block;
  height: 30px;
  width: 30px;
}
.header-profile img{
  width: 100%;
  height: 100%;
}
.header-title, .header-magazine, .header-community, .header-signin {
  text-decoration: none;
  /* color: white; */
  color:black;
  cursor: pointer;
}

.header-magazine, .header-community, .header-profile, .header-signin{
  margin-left: 15px;
}

.header-magazine, .header-community, .header-signin {
  font-size: 20px;
  margin-left: 15px;
  /* font-size: 3.1vw; */
}

/* .header-magazine-Xfile, .header-community-Xfile, .header-signin-Xfile {
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
  color: #2d3f54;
}

.header-title-Xfile {
  text-decoration: none;
  color: #2d3f54;
  font-size: 30px;
} */
