@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
:root{
    --main-bg-color:  #112d4e;
    --main-color: #f9f7f7;
    --sub-color-one: #3f72af;
    --sub-color-two: #00498c;
    --sub-color-three: #dbe2ef;
    --sub-color-four: #4e3211;
    --sub-color-five: #fef4eb;
    --sub-color-six: #12222d;
}
.wrapper{
    background: var(--main-color);
}
html{
    scroll-behavior: smooth;
}
element{
    overflow: visible;
}

@media ( min-width: 780px ) {

.banner{
    font-family: 'Black Han Sans', sans-serif;
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    z-index: 2;
    background: black;
    padding-right: 0;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}
.banner .text{
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 5em;
    font-weight: 400;
    line-height: 1em;
    color: var(--main-color); 
}
.text h3{
    font-size: 4em;
    font-weight: 300;
    line-height: 1em; 
    color: var(--main-color);
}
.text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 290px;
    color: var(--main-color);
}
.text .link-to-xfile{
    display: inline-block;
    font-size: 1em;
    background: var(--main-color);
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    transition: 0.2s;
}
.text a:hover{
    letter-spacing: 2px;
}

.arrow{
    position: absolute;
    z-index: 300;
    bottom: 20px;
    right: 250px;
    transition: 0.3s;
    animation: animatedArrow 3s infinite;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
}
.arrow .arrowText{
    color: #f5b72a;
}
@keyframes animatedArrow{
    0%{transform:translateY(10px);}
    50%{transform:translateY(-10px);}
    100%{transform:translateY(10px);}
}

.about{
    position: relative;
    background: var(--main-color);
    width: 100%;
    height: 100vh;
    display: flex;
}

.about .contentBx{
    width: 50%;
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .heading{
    margin-top: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    z-index: 1;
    color: black;
    font-size: 50px;
}
.about .text{
    margin-top: 1.5rem;
    margin-bottom: auto;
    position: relative;
    color: black;
    font-size: 29px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    max-width: 540px;
}

.about .aboutImg{
    background-image: url('../images/news.png'); 
    position: relative;
    width: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about .arrow{
    position: absolute;
    z-index: 150;
    bottom: 10px;
    right: 250px;
    cursor: pointer;
    transition: 0.3s;
    animation: animatedArrow 3s infinite;
}
.about .arrow .arrowTwo{
    transition: 0.3s;
}
.about .arrow .arrowTwo:hover{
    transform:scale(1.5);
}
/* about section 반응형 */
/* map */
.map{
    position: relative;
    background: var(--main-color);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.map .mapHeading{
    position: relative;
    font-family: 'Do Hyeon', sans-serif;
    color: black;
    font-size: 50px;
    margin-top: 13rem; 
}
.map .mapText{
    margin-top: 1rem; 
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    color: black;
}
.map .container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px; 
    margin-bottom:auto;
    flex-wrap: wrap;
}
.map .container .mapBx img{
    position: relative;
    width: 350px;
    height: 350px;
    object-fit: cover;
}
.map .container .mapBx:nth-child(1){
    margin-right: 4rem;
}
.map .container .mapBx:nth-child(3){
    margin-left: 4rem;
}

.map .arrow .arrowThree{
    transition: 0.3s;
}
.map .arrow .arrowThree:hover{
    transform:scale(1.5);
}

.news{
    position: relative;
    background: var(--main-color);
    width: 100%;
    height: 100vh;
    display: flex;
}

.news .newsBx{
    width: 50%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.news .newsImgBx{
    background-image: url('../images/news.png'); 
    position: relative;
    width: 45%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.news .newsHeading{
    margin-top: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    color: black;
    font-size: 50px;
}
.news .newsText{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: auto;
    max-width: 520px;
}
.newsComment img{
    width: 100px;
    height: 100px;
}
.newsComment{
    transition: 0.15s;
    visibility: hidden;
    margin-right: auto;
    margin-left: auto;
}
.newsComment.visible{
    visibility: visible;
}
.news .newsBx .newsIcon{
    margin-right: auto;
    margin-left: auto;
    color: var(--main-bg-color);
    font-size: 13rem;
    cursor: pointer;
    transition: 0.3s;
    animation: animatedArrow 3s infinite;
}
.news .newsBx .newsIcon:hover{
    transform:scale(1.5);
}
.news .arrow .arrowFour{
    transition: 0.3s;
}
.news .arrow .arrowFour:hover{
    transform:scale(1.5);
}

/* opinion */
.opinion{
    position: relative;
    background: var(--main-color);
    width: 100%;
    height: 100vh;
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.opinion .opinionHeading{
    position: relative;
    color: black;
    font-size: 50px;
    margin-top: 6rem; 
    font-family: 'Do Hyeon', sans-serif;
}
.opinion .opinionText{
    font-family: 'Poppins', sans-serif;
    margin-top: 16px;
    font-size: 29px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;

}
.opinion .opinionContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
    /* margin: 40px; */
    margin-top: 50px;
    flex-wrap: wrap;
}
.opinion .opinionContainer .opinionContentBx{
    position: relative;
    box-shadow: 8px 5px 5px grey;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px 30px;
    margin: 30px;
    width: 540px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}
.opinion .opinionContainer .opinionContentBx:hover{
    transform: scale(1.1);
}
.opinion .opinionContainer .opinionContentBx p{
    font-style: italic;
}
.opinion .opinionContainer .opinionContentBx h3{
    width: 100%;
    text-align: right;
    font-weight: 500;
    color: var(--sub-color-two);
}
.opinion .button{
    font-family: 'Black Han Sans', sans-serif;
    position: absolute;
    top: 120px;
    right: 90px;
    text-decoration: none;
    background: #fff;
    padding: 10px 30px;
    border: 1px solid black;
    color: black;
    transition: 0.2s;
}
.opinion .button:hover{
    letter-spacing: 2px;
    /* transform:scale(1.2); */
}
.opinion .arrow .arrowFive{
    transition: 0.3s;
}
.opinion .arrow .arrowFive:hover{
    transform:scale(1.5);
}
/* opinion 반응형 */
}

/* @media ( max-width: 780px ) {

} */

@media ( max-width: 780px ) {
    .banner{
        font-family: 'Black Han Sans', sans-serif;
        position: relative;
        right: 0;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; 
        z-index: 2;
        background: black;
        padding-right: 0;
    }
    .banner video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.6;

    }
    .banner .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
    }
    .text h2{
        font-size: 24px;
        font-weight: 400;
        line-height: 1.5rem;
        color: var(--main-color); 
    }
    .text h3{
        font-size: 34px;
        font-weight: 300;
        line-height: 1em; 
        color: var(--main-color);
    }
    .text p{
        font-size: 1.1em;
        margin: 20px 0;
        font-weight: 400;
        max-width: 210px;
        color: var(--main-color);
        font-size: 16px;
    }
    .text .link-to-xfile{
        display: inline-block;
        font-size: 1em;
        background: var(--main-color);
        padding: 10px 30px;
        text-decoration: none;
        color: #111;
        margin-top: 10px;
        transition: 0.2s;
    }
    .text a:hover{
        letter-spacing: 2px;
    }
    
    .arrow{
        position: absolute;
        z-index: 300;
        bottom: 10px;
        right: 10px;
        transition: 0.3s;
        animation: animatedArrow 3s infinite;
        text-align: center;
        font-family: 'Black Han Sans', sans-serif;
    }
    .arrow .arrowText{
        color: #f5b72a;
    }
    @keyframes animatedArrow{
        0%{transform:translateY(10px);}
        50%{transform:translateY(-10px);}
        100%{transform:translateY(10px);}
    }
    
    .about{
        margin-top: 60px;
        position: relative;
        background: var(--main-color);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .contentBx{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .heading{
        text-align: center;
        font-family: 'Do Hyeon', sans-serif;
        color: black;
        font-size: 24px;
        width: 100%;
    }

    .about .text{
        color: black;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        width: 100%;
        line-height: 1.3rem;
    }
    
    .about .aboutImg{
        background-image: url('../images/news.png'); 
        position: relative;
        width: 90%;
        height: 45%;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 40px;
        border-radius: 5px;
        /* background-position: center; */
    }
    
    .about .arrow {
        position: absolute;
        z-index: 150;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        transition: 0.3s;
        animation: animatedArrow 3s infinite;
    }
    .about .arrow .arrowTwo{
        transition: 0.3s;
    }
    .about .arrow .arrowTwo:hover{
        transform:scale(1.5);
    }
    /* about section 반응형 */
    /* map */
    .map {
        position: relative;
        background: var(--main-color);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .map .mapHeading{
        position: relative;
        font-family: 'Do Hyeon', sans-serif;
        color: black;
        font-size: 24px;
        margin-top: -70px;
        margin-bottom: 5px;
    }
    .map .mapText{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        color: black;
    }
    .map .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .map .container .mapBx {
        width: 90%;
        margin-bottom: 5px;
    }

    .map .container .mapBx img {
        position: relative;
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .map .arrow .arrowThree{
        transition: 0.3s;
    }
    .map .arrow .arrowThree:hover{
        transform:scale(1.5);
    }
    
    .news{
        position: relative;
        background: var(--main-color);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news .newsBx{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .news .newsHeading{
        margin-top: -70px;
        margin-bottom: 7px;
        font-family: 'Do Hyeon', sans-serif;
        color: black;
        font-size: 24px;
    }
    .news .newsText{
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
    }

    .news .newsImgBx {
        background-image: url('../images/news.png'); 
        position: relative;
        width: 90%;
        height: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
    }

    .news .newsBx .newsIcon{
        margin-right: auto;
        margin-left: auto;
        color: var(--main-bg-color);
        font-size: 13rem;
        cursor: pointer;
        transition: 0.3s;
        animation: animatedArrow 3s infinite;
    }
    .news .newsBx .newsIcon:hover{
        transform:scale(1.5);
    }
    .news .arrow .arrowFour{
        transition: 0.3s;
    }
    .news .arrow .arrowFour:hover{
        transform:scale(1.5);
    }
    
    /* opinion */
    .opinion{
        margin-top: -40px;
        position: relative;
        background: var(--main-color);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .opinion .opinionHeading{
        position: relative;
        color: black;
        font-size: 24px;
        font-family: 'Do Hyeon', sans-serif;
        margin-bottom: 7px;
    }

    .opinion .opinionText{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        color: black;
    }
    .opinion .opinionContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .opinion .opinionContainer .opinionContentBx {
        width: 90%;
        padding: 5px;
        position: relative;
        box-shadow: 8px 5px 5px grey;
        border-radius: 5px;
        background-color: #fff;
        transition: 1s;
    }
    .opinion .opinionContainer .opinionContentBx:last-child {
        margin-top: 10px;
    }
    .opinion .opinionContainer .opinionContentBx:hover{
        transform: scale(1.1);
    }
    .opinion .opinionContainer .opinionContentBx p {
        font-size: 16px;
        font-style: italic;
    }
    .opinion .opinionContainer .opinionContentBx h3{
        width: 100%;
        text-align: right;
        font-weight: 500;
        color: var(--sub-color-two);
    }

    .opinion .main-opinion-button-box {
        margin-top: 30px;
    }
    .opinion .button{
        font-family: 'Black Han Sans', sans-serif;
        text-decoration: none;
        background: #fff;
        padding: 10px 30px;
        border: 1px solid black;
        color: black;
        transition: 0.2s;
    }
    .opinion .button:hover{
        letter-spacing: 2px;
    }
    .opinion .arrow .arrowFive{
        transition: 0.3s;
    }
    .opinion .arrow .arrowFive:hover{
        transform:scale(1.5);
    }
}



