:root{
    --main-bg-color:  #112d4e;
    --main-color: #f9f7f7;
    --sub-color-one: #3f72af;
    --sub-color-two: #00498c;
    --sub-color-three: #dbe2ef;
    --sub-color-four: #4e3211;
    --sub-color-five: #fef4eb;
    --sub-color-six: #12222d;
}

@media ( min-width: 780px ) {

.map-page-desktop {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: var(--main-color);
    overflow-x: hidden;
}
.heading{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 23px;
    letter-spacing: -1px;
    color: #333;
    margin-bottom: 40px;
}
.map-condition-desktop.handle {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* left: 90px;
    top: 130px; */
    /* margin-top: 30px; */
    background: var(--main-color);
    justify-content: center;
    align-items: center;
    padding: 15px 40px 15px 40px;
    /* border: 1px  #333; */
    border-radius: 5px;
    cursor: grab;
}

select {
    padding: 10px 10px;
    width: 220px;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-top: 35px;
    margin-bottom: 5px;
}

.button-wrapper-desktop a {
    margin-top: 35px;
    text-decoration: none;
    padding: 10px 23px;
    color: #333;
    font-size: 18px;
    letter-spacing: 3px;
    border: 1px solid #555;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all .5s;
    /* z-index: 1000; */
    border-radius: 3px;
    background: white;
}
.button-wrapper-desktop a:hover{
    color: var(--main-color);
    background: #555;
    transition: all 0.4s;
}

.button-wrapper-desktop a .wave:before{
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    /* background-image: url('../images/wave.png');  */
    animation: wavy 0.2s linear infinite;
}

@keyframes wavy{
    0%{ background-position-x: 0 }
    100% { background-position-x: 118px }
}

.map-box-desktop {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 110px;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* padding: 90px 50px 50px 50px; */
    
    /* background-color: var(--sub-color-two); */
}

#mapContainer {
    /* border-radius: 10px; */
    border-radius: 7px;
    width: 100%;
    height: 100%;
}

}

@media ( max-width: 780px ) {
    .map-page-desktop {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: var(--main-color);
        overflow-x: hidden;
    }
    
    .map-condition-desktop.handle {
        width: 100%;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        /* left: 90px;
        top: 130px; */
        /* margin-top: 30px; */
        background: var(--main-color);
        justify-content: center;
        align-items: center;
        /* padding: 15px 40px 15px 40px; */
        /* border: 1px  #333; */
        border-radius: 5px;
        cursor: grab;
    }

    .heading {
        width: 100%;
        text-align: center;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 20px;
        letter-spacing: -1px;
        color: #333;
        margin-bottom: 7px;
    }

    .election-wrapper-desktop {
        width: 70%;
    }

    .sdName-wrapper-desktop {
        width: 70%;
    }

    .wiwName-wrapper-desktop {
        width: 70%;
    }

    .button-wrapper-desktop {
        width: 70%;
    }
    
    select {
        padding: 2px 5px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .map-page-desktop p {
        display: none;
    }

    .button-wrapper-desktop a {
        text-align: center;
        width: 100%;
        margin-top: 2px;
        text-decoration: none;
        padding: 8px 25px;
        color: #333;
        font-size: 14px;
        letter-spacing: 2px;
        border: 1px solid #555;
        position: relative;
        display: inline-block;
        overflow: hidden;
        transition: all .5s;
        /* z-index: 1000; */
        border-radius: 3px;
        background: white;
    }

    .button-wrapper-desktop a:hover{
        color: var(--main-color);
        background: #555;
        transition: all 0.4s;
    }
    .button-wrapper-desktop a:hover .wave{
        top: 0;
    }
    .button-wrapper-desktop a .wave{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: calc(100% + 22px);
        background: #555;
        transition: all 0.1s;
        z-index: -1;
    }
    
    .button-wrapper-desktop a .wave:before{
        content: '';
        position: absolute;
        top: -22px;
        left: 0;
        width: 100%;
        height: 22px;
        /* background-image: url('../images/wave.png');  */
        animation: wavy 0.2s linear infinite;
    }
    @keyframes wavy{
        0%{ background-position-x: 0 }
        100% { background-position-x: 118px }
    }

    .map-box-desktop {
        margin-right: 10px;
        /* margin-top: px; */
        width: 100%;
        height: 100%;
        z-index: 0;
        padding: 10px;
        /* padding: 90px 50px 50px 50px; */
        
        /* background-color: var(--sub-color-two); */
    }
    
    #mapContainer {

        border-radius: 7px;
        width: 100%;
        height: 100%;
    }
}
