:root{
    --main-bg-color:  #112d4e;
    --main-color: #f9f7f7;
    --sub-color-one: #3f72af;
    --sub-color-two: #00498c;
    --sub-color-three: #dbe2ef;
    --sub-color-four: #4e3211;
    --sub-color-five: #fef4eb;
    --sub-color-six: #12222d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.news-container{
    background: var(--main-color);
    box-sizing: border-box;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
}

.search-container{
    display: flex;
    /* margin-top: 3rem; */
    justify-content: center;
}
.search-box{
    margin-top: 100px;
    width: 340px;
    height: 50px;
    background: #ffffff;
    border: 3px solid #000000;
    font-size: 10pt;
    color: #63717f;
    padding-left: 50px;
    transition: 0.4s;
    border-radius: 5px;
}
.search-box:focus{
    width: 370px;
    border-color: #387bcb;
    outline: none;
}
.search-icon{
    position: relative;
    left: 37px;
    top: 118px;
    font-size: 1.5rem;
    background-color: #ffffff; 
    transition: 0.4s;
} 
.search-icon:hover{
    cursor: pointer;
    color: #387bcb;
    transform:scale(1.2);
}  
/* 반응형 */
@media(max-width: 815px){
    .news-container{
        width: 750px;
    }
}
@media(max-width: 750px){
    .news-container{
        width: 700px;
    }
}
@media(max-width: 700px){
    .news-container{
        width: 650px;
    }
}
@media(max-width: 650px){
    .news-container{
        width: 600px;
    }
}
@media(max-width: 600px){
    .news-container{
        width: 100%;
    }
    .contents{
        width: 90%;
    }
    .thumbnail{
        display: none;
    }
}
