@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR:wght@200&display=swap');

/*--------태블릿, 모바일---------*/
@media only screen and (max-width: 780px){
    html {
        margin: 0;
    }

    /* body{
        margin: 0;
        background-color: #2d3f54;
    }  */

    .root {
        margin: 0;
    }
    .header.active{
        /* background: linear-gradient(0deg, rgba(45,63,84,0.7441351540616247) 0%, rgba(45,63,84,1) 35%); */
        background-color: #2d3f54;
    }

    .header .logo{
        color: white;
    }

    .toggleBx{
        color: white;
    }

    .sidebar{
        background: #2d3f54;
    }


     /* .wrapper{
        background: #2d3f54;
    }   */

    /*            */

    .opinion-wrap {
        background-color: #2d3f54;
        text-align: center;
        align-items: center;
        height: 100vh;
    }

    .write-box-wrap {
        /* background-color: #2d3f54; */
        background: linear-gradient(0deg, rgba(45,63,84,0.7441351540616247) 0%, rgba(45,63,84,1) 15%);
        z-index: 999;
        /* border : 1px solid red; */
        position: fixed;
        top: 80px;
        width: 100%;
        height: 210px;
        padding: 0px 20px 0px 20px;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        box-sizing: border-box;
        /* border: 5px solid #FFFFFF; */
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    }

    /* .opinion-blank {
        border: 5px solid red;
        width: 400px;
        height: 1000px;
        display: inline-block;
    } */

    .election-name {
        width: 80%;
        height: 70px;
        line-height: 80px;
        /* background: #387BCB; */
        /* border: 3px solid #FFFFFF; */
        /* box-sizing: border-box; */
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
        /* border-radius: 10px; */
        text-align: left;
        font-size: 40px;
        font-family: 'Black Han Sans', sans-serif;
        color: white;
    }

    textarea {
        resize: none;
        /* margin: 0px 10px 0px 10px; */
        width: 100%;
        height: 80px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Noto Serif KR', serif;
        border: none;
        margin-bottom: 5px;
        /* box-shadow: 2px 2px 2px 2px #2d3f54; */
        /* border: 3px solid #FFFFFF; */
        font-size: 15px;
        text-indent: 10px;
        text-align: left;
        padding: 5px 10px 5px 10px;   
    }

    button {
        margin: 0 auto;
        position: absolute;
        top: 115px;
        right: 30px;
        border-radius: 10px;
        width: 50px;
        height: 30px;
        color: white;
        border: none;
        background-color: #2d3f54a3;
        font-family: 'Noto Serif KR', serif;
        font-size: 15px;
    }

    button:hover{
        cursor: pointer;
    }

    .input-length {
        color:white;
        margin-top: -10px;
        float: right;
        padding-right: 5px;
    }

    .input-length-over {
        color: red;
        margin-top: -10px;
        float: right;
        padding-right: 5px;
    }

    .report-notice {
        color: white;
        padding-left: 20px;
    }

    .amount-notice {
        z-index: 999;
        position: fixed;
        /* margin: 0; */
        right: 20px;
        top: 260px;
        color: white;
    }

    .comment-sort {
        z-index: 999;
        position: fixed;
        /* margin: 0; */
        left: 20px;
        top: 260px;
        color: white;
        text-align: center;
        align-items: center;
    }

    .comment-sort:hover {
        transform:scale(1.1);
        transition: transform .35s;
        cursor: pointer;
    }

    .opinion-line {
        width: 100%;
        padding-top: 300px;
        padding-left: 20px;
        padding-right: 20px;
        /* display: flex; */
        /* flex-wrap: wrap-reverse; */


        
    }



    /* opinion component*/

    .opinions {
        width: 100%;
        height: min-content 80px;
        margin-bottom: 20px;
        margin-right: 30px;
        background: #FFFFFF;
        text-align: left;
        /* border: 2px solid #FFFFFF; */
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        word-break:break-all;
        padding: 5px 10px 5px 10px;
        transform:scale(1);
        transition: transform .55s;
    }

    .opinions:hover {
        /* transform:scale(1.1); */
        /* transition: transform .35s; */
        /* z-index: 999; */
        /* cursor: pointer; */
    }

    .comment-nickname {
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 5px;
        color: white;
        font-size: 18px;
    }

    .anooComment {
        font-family: 'Noto Serif KR', serif;
        padding: 0px 10px 0px 10px;
        text-indent: 5px;
        font-size: 15px;
        color: white;
    }

    .red {
        background-color: #747070;
    }
    .blue {
        background-color: #2d6484;
    }
    .yellow {
        background-color: #987878;
    }

    .orange {
        background-color: #c7a651;
    }

    .special {
        background-color: tomato;
    }

    .purple {
        background-color: #0277bd;
    }

    .fivelike {
        background-color: #00838f;
    }

    .tenlike {
        background-color: #f44336;
        animation:blink 1s ease-in-out infinite alternate;
    }
    @keyframes blink{ 0% {opacity:0.7;} 100% {opacity:1;} }

    .reportImg {
        color: white;
        width: 30px;
        height: 30px;
        float: right;
        transform:scale(1);
        transition: transform .35s;
    }

    .reportImg:hover {
        transform:scale(1.2);
        transition: transform .35s;
        cursor: pointer;
    }

    .reportImg:active {
        position: relative;
        top:2px;
    }

    .uptoscroolIcon {
        z-index: 999;
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 50px;
        margin: 0 auto;
        color: white;
        animation: ani 0.8s infinite alternate;  
    }
    @keyframes ani{
        0% {transform:translate(0,0);}
        100% {transform:translate(0,10px);}
    }  
    .uptoscroolIcon:hover {
        cursor: pointer;
    }

}


/*---------780이상(데스크탑)--------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
@media screen and (min-width: 780px){
    html {
        margin: 0;
    }

    /* body{
        margin: 0;
        background-color: #2d3f54;
    }  */

    .root {
        margin: 0;
    }
    .header.active{
        background: linear-gradient(0deg, rgba(45,63,84,0.7441351540616247) 0%, rgba(45,63,84,1) 35%);
    }

    .header .logo{
        color: white;
    }

    .toggleBx{
        color: white;
    }

    .sidebar{
        background: #2d3f54;
        position: fixed;
        right: 0px;
        top: 0;
        width: 400px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        z-index: 500;
        transition: 0.5s;
    }


    /* .wrapper{
        background: #2d3f54;
     
    } */

    /*            */

    .opinion-wrap {
        /* z-index: 999999; */
        background-color: #2d3f54;
        text-align: center;
        align-items: center;
        height: 100vh;
        /* position: relative; */
        /* top: 150px; */
        /* left: 150px */
        /* margin: 0 auto; */
        /* margin-top: 100px; */
        /* padding-top: 20px; */
        /* padding-left: 90px; */
        /* display: flex; */
        /* overflow-x: hidden; */
        /* align-items: center; */
        /* text-align: center; */
    }

    .write-box-wrap {
        /* border : 1px solid red; */
        position: fixed;
        top: 100px;
        left: 100px;
        width: 400px;
        height: 230px;
        /* padding: 100px 0px 0px 100px; */
        /* text-align: center; */
        align-items: center;
        border-radius: 10px;
        box-sizing: border-box;
        /* border: 5px solid #FFFFFF; */
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    }

    /* .opinion-blank {
        border: 5px solid red;
        width: 400px;
        height: 1000px;
        display: inline-block;
    } */

    .election-name {
        margin: 0 auto;
        /* margin-bottom: 10px; */
        width: 300px;
        height: 70px;
        line-height: 80px;
        /* background: #387BCB; */
        /* border: 3px solid #FFFFFF; */
        /* box-sizing: border-box; */
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
        /* border-radius: 10px; */
        text-align: center;
        font-size: 40px;
        font-family: 'Black Han Sans', sans-serif;
        color: white;
    }

    textarea {
        resize: none;
        width: 350px;
        height: 110px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Noto Serif KR', serif;
        border: none;
        margin-bottom: 5px;
        /* box-shadow: 2px 2px 2px 2px #2d3f54; */
        /* border: 3px solid #FFFFFF; */
        font-size: 15px;
        text-indent: 10px;
        text-align: left;
        padding: 5px 10px 5px 10px;   
    }

    button {
        margin: 0 auto;
        position: absolute;
        top: 145px;
        left: 315px;
        border-radius: 10px;
        width: 50px;
        height: 30px;
        color: white;
        border: none;
        background-color: #2d3f54a3;
        font-family: 'Noto Serif KR', serif;
        font-size: 15px;
    }

    button:hover{
        cursor: pointer;
    }

    .input-length {
        font-size: 15px;
        color:white;
        margin-left: 300px;
        margin-top: -10px;
        margin-bottom: -5px;
    }

    .input-length-over {
        color: red;
        font-size: 15px;
        margin-left: 300px;
        margin-top: -10px;
        margin-bottom: -5px;
    }

    .report-notice {
        color: white;
        display: inline-block;
    }

    .amount-notice {
        position: absolute;
        margin: 0;
        left: 550px;
        top: 80px;
        color: white;
    }

    .comment-sort {
        z-index: 999;
        position: fixed;
        left: 360px;
        top: 350px;
        color: white;
        text-align: center;
        align-items: center;
        font-size: 20px;
    }

    .comment-sort:hover {
        transform:scale(1.1);
        transition: transform .35s;
        cursor: pointer;
    }

    .opinion-line {
        /* margin: 0 auto; */
        width: 100%;
        padding-top: 100px;
        padding-left: 550px;
        display: flex;
        flex-wrap: wrap;
        
    }



    /* opinion component*/

    .opinions {
        width: 300px;
        margin-bottom: 15px;
        margin-right: 30px;
        background: #FFFFFF;
        text-align: left;
        /* border: 2px solid #FFFFFF; */
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        word-break:break-all;
        padding: 5px 10px 5px 10px;
        transform:scale(1);
        transition: transform .55s;
    }

    .opinions:hover {
        transform:scale(1.1);
        transition: transform .35s;
        /* z-index: 999; */
        /* cursor: pointer; */
    }

    .comment-nickname {
        font-family: 'Noto Serif KR', serif;
        margin-bottom: 5px;
        color: white;
        font-size: 13px;
    }

    .anooComment {
        font-family: 'Noto Serif KR', serif;
        padding: 0px 10px 0px 10px;
        text-indent: 5px;
        font-size: 15px;
        color: white;
    }

    .red {
        background-color: #747070;
    }
    .blue {
        background-color: #2d6484;
    }
    .yellow {
        background-color: #987878;
    }

    .orange {
        background-color: #c7a651;
    }

    .special {
        background-color: tomato;
    }

    .purple {
        background-color: #0277bd;
    }

    .fivelike {
        background-color: #00838f;
    }

    .tenlike {
        background-color: #f44336;
        animation:blink 1s ease-in-out infinite alternate;
    }
    @keyframes blink{ 0% {opacity:0.7;} 100% {opacity:1;} }

    .reportImg {
        color: white;
        float: right;
        transform:scale(1);
        transition: transform .55s;
        margin-left: 5px;
    }

    .reportImg:hover {
        transform:scale(1.7);
        transition: transform .35s;
        cursor: pointer;
    }

    .reportImg:active {
        position: relative;
        top:2px;
    }

    .uptoscroolIcon {
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 60px;
        right: 50px;
        color: white;
        animation: ani 0.8s infinite alternate;  
    }
    @keyframes ani{
        0% {transform:translate(0,0);}
        100% {transform:translate(0,10px);}
    }  
    .uptoscroolIcon:hover {
        cursor: pointer;
    }
}
