@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
:root{
    --main-bg-color:  #112d4e;
    --main-color: #f9f7f7;
    --sub-color-one: #3f72af;
    --sub-color-two: #00498c;
    --sub-color-three: #dbe2ef;
    --sub-color-four: #4e3211;
    --sub-color-five: #fef4eb;
    --sub-color-six: #12222d;
    --sub-color-seven: tomato;
    --sub-color-eight: #f5f4f0;
    --sub-color-nine: rgb(50,50,40);
}
.write-container{
    padding-top: 50px;
}
.editor-container {
    width: 50%;
}

.xfile-text-wrap {
    margin-right: 0px;
}

.write-back {
    width: 40px;
    height: 40px;
    color: #2d3f54;
}

.write-back:hover {
    cursor: pointer;
}
.write-container .write-heading{
    float: right;
    font-size: 45px;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
    /* margin-bottom: 40px; */
    color: #2d3f54;
    
}
.write-container .write-wrapper{
    font-family: 'Bebas Neue', cursive;
    /* width: 35vw; */
    margin-bottom: 10px;
    /* background: #fff; */
    /* padding: 30px; */
    padding-top: 30px;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.1); */
    position: relative;
}
.write-container .write-input-data{
    height: 40px;
    width: 100%;
    
}
.write-container .title{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 17px;
}
.write-input-data label{
    position: absolute;
    top: 40px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.write-container .title:focus{
    outline: none;
}
.write-container .title:focus ~ label,
.write-container .title:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color:#2d3f54;
    ;
}
.write-container .write-input-data .write-underline{
    position: absolute;
    top: 68px;
    height: 2px;
    width: 100%;
}
.write-container .write-input-data .write-underline::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #2d3f54;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.write-container .title:focus ~ .write-underline::before,
.write-container .title:valid ~ .write-underline::before{
    transform: scaleX(1);
}
.ck.ck-sticky-panel{
    width: 60vw;
}
.ck.ck-editor__main{
    height: 38vh;
    width: 60vw;
}
.ck.ck-content{
    height: 100%;
}
.write-container .editor .write-submit{
    float: right;
    margin-top: 10px;
    font-size: 1.5em;
    background: #2d3f54;
    padding: 10px 20px;
    color: #d8e3e7;
    transform:scale(1);
    transition: transform .55s;
    border-radius: 10px;
    border: none;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    /* letter-spacing: px; */
}
.write-container .write-submit:hover{
    cursor: pointer;
    transform:scale(1.1);
    transition: transform .55s;
}

@media screen and (max-width: 780px){
    .xfile-wrap{
        padding-left: 3%;
        padding-right: 3%;
    }
    .write-container{
        margin-top: 100px;
        margin-left: 2%;
        padding-right: 2%;
        width: 100%;
    }
    .write-container .write-wrapper{
        margin-left: auto;
        margin-right: auto;
        /* width: 50%; */
    }
    .ck.ck-editor__main{
        margin-left: auto;
        margin-right: auto;
    }
    .ck.ck-sticky-panel{
        margin-left: auto;
        margin-right: auto;
    }
    .write-container .submit{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .ck.ck-sticky-panel{
        width: 100%;
        margin-top: 40px;
    }
    .ck.ck-editor__main{
        width: 100%;
        height: 40vh;
    }
    /* .write-container .title {
        
        border: 1px solid red;
    }

    .write-container .title:focus ~ label,
    .write-container .title:valid ~ label{
    transform: translateY(-10px);
    font-size: 15px;
    color:#2d3f54;
    ;
} */
/* .write-container .title{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 20px;
} */
.write-input-data label{
    position: absolute;
    top: 70px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}

.write-container .write-input-data .write-underline{
    position: absolute;
    top: 91px;
    height: 2px;
    width: 100%;
}
/* .write-container .write-input-data .write-underline{
    position: absolute;
    top: 90px;
    height: 2px;
    width: 100%;
} */
}