@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
:root{
    --main-bg-color:  #112d4e;
    --main-color: #f9f7f7;
    --sub-color-one: #3f72af;
    --sub-color-two: #00498c;
    --sub-color-three: #dbe2ef;
    --sub-color-four: #4e3211;
    --sub-color-five: #fef4eb;
    --sub-color-six: #12222d;
    --sub-color-seven: tomato;
    --sub-color-eight: #f5f4f0;
    --sub-color-nine: rgb(50,50,40);
}
.write-container{
    /* width: 100%; */
    /* height: 100vh; */
    position: relative;
    /* padding: 100px; */
    /* background: var(--sub-color-eight); */
}
.editor-container {
    width: 50%;
}
.editor{
    /* display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; */
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.goBack{
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    color: black;
    transition: 0.2s;
    /* margin-left: 8vw; */
    border: 2px solid var(--sub-color-nine);
    border-radius: 5px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    text-decoration: none;
}
.goBack:hover{
    letter-spacing: 2px;
}
.write-container .write-heading{
    font-size: 45px;
    font-weight: 500;
    padding-top: 10px;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 40px;
    color: black;
}
.write-container .write-wrapper{
    font-family: 'Bebas Neue', cursive;
    width: 35vw;
    margin-bottom: 40px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    position: relative;
}
.write-container .write-input-data{
    height: 40px;
    width: 100%;
}
.write-container .title{
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 17px;
}
.write-input-data label{
    position: absolute;
    top: 40px;
    left: 30px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.write-container .title:focus{
    outline: none;
}
.write-container .title:focus ~ label,
.write-container .title:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: black;
}
.write-container .write-input-data .write-underline{
    position: absolute;
    top: 68px;
    height: 2px;
    width: 90%;
}
.write-container .write-input-data .write-underline::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.write-container .title:focus ~ .write-underline::before,
.write-container .title:valid ~ .write-underline::before{
    transform: scaleX(1);
}
.ck.ck-sticky-panel{
    /* margin-left: 8vw; */
    width: 60vw;
}
.ck.ck-editor__main{
    height: 38vh;
    /* margin-left: 8vw; */
    width: 60vw;
}
.ck.ck-content{
    height: 100%;
}
.write-container .editor .submit{
    margin-top: 40px;
    font-size: 1.5em;
    background: #51c4d3;
    padding: 10px 20px;
    color: #d8e3e7;
    transition: 0.2s;
    /* margin-left: 8vw; */
    /* border: 2px solid var(--sub-color-nine); */
    border-radius: 10px;
    border: none;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    /* letter-spacing: px; */
}
.write-container .submit:hover{
    letter-spacing: 1px;
}

@media screen and (max-width: 780px){
    .write-container{
        margin-top: 200px;
    }
    .write-container .write-wrapper{
        margin-left: auto;
        margin-right: auto;
        /* width: 50%; */
    }
    .ck.ck-editor__main{
        margin-left: auto;
        margin-right: auto;
    }
    .ck.ck-sticky-panel{
        margin-left: auto;
        margin-right: auto;
    }
    .write-container .submit{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}