@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
:root{
    --main-bg-color:  #112d4e;
    --main-color: #f9f7f7;
    --sub-color-one: #3f72af;
    --sub-color-two: #00498c;
    --sub-color-three: #dbe2ef;
    --sub-color-four: #4e3211;
    --sub-color-five: #fef4eb;
    --sub-color-six: #12222d;
    --sub-color-seven: tomato;
    --sub-color-eight: #f5f4f0;
    --sub-color-nine: rgb(50,50,40);
}
.write-container{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 100px;
    background: var(--sub-color-eight);
}
.editor{
    /* display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 900px;
    margin-left: auto;
    margin-right: auto; */
}
.goBack{
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    color: black;
    transition: 0.2s;
    margin-left: 8vw;
    border: 2px solid var(--sub-color-nine);
    border-radius: 5px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 100;
    text-decoration: none;
}

.goBack:hover{
    letter-spacing: 2px;
}
.write-container .write-heading{
    font-size: 45px;
    font-weight: 600;
    margin-top: 0vh;
    padding-top: 30px;
    font-family: 'Noto Serif KR', serif;
    margin-left: 8vw;
    color: var(--sub-color-nine);
}
.write-container .line{
    margin-left: 8vw;
    margin-top: 2vh;
    width: 60vw;
    border-top: 1px solid var(--sub-color-nine);
}
.write-container .title{
    margin-left: 8vw;
    padding: 10px;
    width: 30vw;
    margin-top: 3.8vh;
    margin-bottom: 3.8vh;
}
.write-container .title:focus{
    outline: none;
}
.ck.ck-sticky-panel{
    margin-left: 8vw;
    width: 60vw;
}
.ck.ck-editor__main{
    height: 38vh;
    margin-left: 8vw;
    width: 60vw;
}
.ck.ck-content{
    height: 100%;
}

.write-container .editor .submit{
    margin-top: 3.8vh;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    color: black;
    transition: 0.2s;
    margin-left: 8vw;
    border: 2px solid var(--sub-color-nine);
    border-radius: 5px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 100;
}
.write-container .submit:hover{
    letter-spacing: 2px;
}


