@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+KR&display=swap');

.magazine-none {
    margin-left: auto;
    margin-right: auto;
}

.loadingMessage {
    text-align: center;
    line-height: 80vh;
    width: 60%;
    height: 100%;
    position: fixed;
    font-size: large;
    color :#2d3f54;
}
.main-container{
    background-color: white;
    height: 100%;
}

.xfile-wrap {
    /* width: 100%; */
    min-height: 100vh;
    /* height: 100%; */
    /* margin-top: 100px; */
    padding-top: 100px;
    background-color: white;

    /* background-color: white; */
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.xfile-text-wrap {
    position: sticky;
    top: 150px;
    /* border: 1px solid red; */
    width: 300px;
    height: 400px;
    margin-right: 5%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.xfile-text-li{
    width: 190px;
    list-style: none;
    margin-bottom: 30px;
    line-height: 80%;
    color: #2d3f54;
    transform:scale(1);
    transition: transform .55s;
}

.xfile-text-li:hover {
    cursor: pointer;
    transform:scale(1.1);
    transition: transform .35s;
}



.xfile-input {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 3px;
    border-color: #2d3f54;
    width: 170px;
    height: 40px;
    transition: 0.8s ease all;
}
.xfile-input::placeholder{
    font-size: 15px;
}

.xfile-input:focus {
    outline:none;
}

.write-magazine {
    width: 100px;
    color: #2d3f54c4;
    transform:scale(1);
    transition: transform .55s;
}
.write-magazine:hover {
    cursor: pointer;
    transform:scale(1.1);
    transition: transform .55s;
}

.xfile-content-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:stretch;
    align-content:stretch;
    padding: 0px 10px 20px 10px;
    /* border: 1px solid blue; */
    width: 70%;
}

/* --------------------- */

.magazine-wrap {
    margin-top: 50px;
    margin-bottom: 100px;
    -webkit-columns: 150px 3;
    -moz-columns: 150px 3;
    columns: 150px 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    /* max-width: 80vw; */
    /* margin: 0 auto; */
    display: block;
    /* -moz-column-fill: balance; */
    /* column-fill: balance; */
}

.magazine {
    min-width: calc(100% - 4px);
    /* min-width: 250px; */
    width: 150px;
    margin: 15px;
    background-color: white;
    min-height: 250px;
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    /* padding: 20px; */
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    transform:scale(1);
    transition: transform .55s;
    background-size: cover;
    /* text-align: center; */
    opacity: 0.9;
}

.lastMagazine {
    min-width: calc(100% - 4px);
    width: 100px;
    margin: 15px;
    min-height: 150px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    transform:scale(1);
    transition: transform .55s;
    background-size: cover;
    opacity: 0.9;
}
.lastMagazine > video {
    width: 100%;
    border-radius: 10px;
}

.magazine-heart {
    width: 30px;
    height: 30px;
    margin: 10px 5px 0 10px;
}

.magazine-heart-count {
    position: relative;
    top: -30px;
    left : 40px;
    font-size: 20px;
    display: block;
    color: white;
    
}

.magazine:hover{
    cursor: pointer;
    transform:scale(1.06);
    transition: transform .55s;
}

.lastMagazine:hover{
    cursor: pointer;
    transform:scale(1.03);
    transition: transform .55s;
}

.magazine > .magazine-title {
    color : white;
    font-family: 'Noto Serif KR', serif;
    text-align: left;
    text-indent: 10px;
    word-break:break-all;
    margin: 0 auto;
    padding: 0 10px 20px 10px;
    font-size: 20px;
    position:absolute;
    bottom:0;
    right:0;
}

.lastMagazine > .magazine-lastTitle{
    color : white;
    font-family: 'Noto Serif KR', serif;
    text-align: left;
    text-indent: 10px;
    word-break:break-all;
    margin: 0 auto;
    padding: 0 10px 20px 10px;
    font-size: 25px;
    position:absolute;
    bottom:0;
    right:0;
}

.magazine:nth-child(3n){
    height: 300px;
    min-height: 250px;
}
.magazine:nth-child(4n){
    height: 300px;
    min-height: 300px;
}
.magazine:nth-child(5n){
    height: 280px;
    min-height: 250px;
}

.magazine:nth-child(n)::after {
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.lastMagazine:nth-child(1)::after {
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.magazine:nth-child(n):hover::after{
    background-color: black;
    opacity: 0.7;
}

.lastMagazine:nth-child(1):hover::after{
    background-color: black;
    opacity: 0.7;
}

@media screen and (max-width: 780px){
    .xfile-text-wrap {
        position: absolute;
        margin-top: 10px;
        top: 60px;
        z-index: 3;
        margin-right: 3%;
        width: 95%;
        height: 220px;
        font-size: 35px;
    }

    .xfile-text-ul{
        
    }
    .xfile-text-li{
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 100%;
        color: #2d3f54;
    }

    .xfile-text-li:hover {
        cursor: pointer;
    }
    .search-magazine {
        color: #2d3f54;
    }
    .search-magazine:hover {
        cursor: pointer;
    }
    .write-magazine {
        color: #2d3f54c4;
        text-align: right;
        margin-right:5%;
    }
    .write-magazine:hover {
        cursor: pointer;
    }
    .xfile-wrap{
        padding-left: 5%;
        min-height: 100vh;
    }
    .xfile-content-wrap {
        display: contents;
        flex-wrap: wrap;
        flex-direction: column;
        align-items:stretch;
        align-content:stretch;
        /* padding: 0px 10px 20px 10px; */
        /* border: 1px solid blue; */
        width: 100%;
    }
    .magazine-wrap {
        -webkit-columns: 250px 3;
        -moz-columns: 250px 3;
        columns: 250px 3;
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
        /* max-width: 80vw; */
        /* margin: 0 auto; */
        display: block;
        /* -moz-column-fill: balance; */
        /* column-fill: balance; */
        padding-top: 80px;
        padding-right: 5%;
    }
    
    .magazine {
        min-width: calc(100% - 4px);
        /* min-width: 250px; */
        width: 150px;
        margin: 15px;
        margin-bottom: 5px;
        background-color: white;
        /* min-height: 40vh; */
        min-height: 250px;
        display: inline-block;
        position: relative;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
        /* padding: 20px; */
        box-sizing: border-box;
        border-radius: 10px;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        transform:scale(1);
        transition: transform .55s;
        background-size: cover;
        /* text-align: center; */
        opacity: 0.9;
    }
    
    .magazine-heart {
        width: 30px;
        height: 30px;
        margin: 10px 5px 0 10px;
    }
    
    .magazine-heart-count {
        position: relative;
        top: -30px;
        left : 40px;
        font-size: 20px;
        display: block;
        color: white;
        
    }
    
    .child:hover{
        cursor: pointer;
        transform:scale(1.06);
        transition: transform .55s;
    }
    
    .magazine > .magazine-title {
        color : white;
        font-family: 'Noto Serif KR', serif;
        text-align: left;
        text-indent: 10px;
        word-break:break-all;
        margin: 0 auto;
        padding: 0 10px 20px 10px;
        font-size: 25px;
        position:absolute;
        bottom:0;
        right:0;
    }
    
    .magazine:nth-child(3n){
        height: 300px;
        min-height: 250px;
    }
    .magazine:nth-child(4n){
        height: 300px;
        min-height: 300px;
    }
    .magazine:nth-child(5n){
        height: 280px;
        min-height: 250px;
    }

    .magazine:nth-child(n)::after {
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    .magazine:nth-child(n):hover::after{
        background-color: black;
        opacity: 0.7;
    }

    .write-magazine {
        position:absolute;
        top: -5px;
        right: 0px;
        /* margin-right: 5%; */
    }
    .xfile-input {
        position:absolute;
        background-color: none;
        top: 100px;
        width: 45%;
        right: 0px;
        margin-right: 5%;
    }

    /* .xfile-input {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 3px;
        border-color: #2d3f54;
        width: 170px;
        height: 40px;
        transition: 0.8s ease all;
    } */
    .xfile-input::placeholder {
        text-align: right;
    }
}

@media screen and (max-width: 430px) {
    .xfile-input {
        position:absolute;
        top: 150px;
        right: 0px;
        margin-left: 5%;
        width: 90%;
    }
    .xfile-input::placeholder {
        text-align: left;
    }
    .magazine-wrap {
        background-color: none;
        -webkit-columns: 250px 3;
        -moz-columns: 250px 3;
        columns: 250px 3;
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
        /* max-width: 80vw; */
        /* margin: 0 auto; */
        display: block;
        /* -moz-column-fill: balance; */
        /* column-fill: balance; */
        padding-top: 130px;
        padding-right: 5%;
    }
}