@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
:root{
    --main-bg-color:  #112d4e;
    --main-color: #f9f7f7;
    --sub-color-one: #3f72af;
    --sub-color-two: #00498c;
    --sub-color-three: #dbe2ef;
    --sub-color-four: #4e3211;
    --sub-color-five: #fef4eb;
    --sub-color-six: #12222d;
    --sub-color-seven: tomato;
}
.main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
}

.side-button{
    position: fixed;
    bottom: 5vh;
    right: 1vw;
    z-index: 300;
}
.side-button .icon{
    cursor: pointer;
    transition: 0.5s;
    font-size: 3vw;
}
.side-button .icon:hover{
    transform: scale(1.2);
}
.sub-container-one{
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    position: relative;
    background: var(--sub-color-six);
    margin-top: 160px;
    width: 90%;
    height: 100%;
    border-radius: 15px;
    padding-top: 70px;
}
.sub-container-one .slick-arrow{
    transition: 0.4s;
}
.sub-container-one .slick-arrow:hover{
    transform: scale(1.5);
}
.slider_title_one{
    font-size: 70px;
    color: #ffbf47;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.container.mt-5.carousel{
    height: 100%;
}
.card-wrapper{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 30px;
}
.card-wrapper:active{
    outline: none;
    border: none;
}
.card-wrapper:hover{
    outline: none;
    border: none;
}
.card-wrapper:focus{
    outline: none;
    border: none;
}
.card{
    width: 100%;
    cursor: pointer;
    position: relative;
}
.card-title{
    font-size: 25px;
    color: var(--main-color);
    text-align: center;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 200;
}
.card-image img{
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-image{
    transition: 0.3s;
}
.card-image:hover{
    opacity: 0.8;
}

.slider_title_two{
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20vh;
    color: #ffbf47;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
/* sub-container-two */
/* .sub-container-two{
    margin-top: 140px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    font-family: 'Do Hyeon', sans-serif;
    flex-direction: column;
    background: var(--sub-color-seven);
    padding-top: 70px;
}
.slider_title_two{
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
    color: #ffbf47;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.sub-container-two .card-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sub-container-two img{
    
} */


/* sub-container-three */
.sub-container-three{
    margin-top: 160px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Do Hyeon', sans-serif;
    align-items: center;
}
.slider_title_three{
    font-size: 70px;
    text-align: start;
    margin-bottom: 50px;
    color: black;
}
.slider_title_three::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: black;
    transition: .5s;
}
.slider_title_three:hover::after{
    width: 100%;
    transition: .5s;
}
.case-contanier{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
}