@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
:root{
    --main-bg-color:  #112d4e;
    --main-color: #f9f7f7;
    --sub-color-one: #3f72af;
    --sub-color-two: #00498c;
    --sub-color-three: #dbe2ef;
    --sub-color-four: #4e3211;
    --sub-color-five: #fef4eb;
    --sub-color-six: #12222d;
    --sub-color-seven: tomato;
}
.main-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    background: #f5f4f0;
    
    /* grid-template-columns: 40% 60%; */
    /* grid-template-columns: 4fr 6fr; */
    /* 위에거랑 둘이 똑같음. 밑에거를 더 많이 씀 */
    
    /* grid-gap: 1rem; */

    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
    /* 위에거랑 둘이 똑같음. */

    /* grid-template-columns: 200px 1fr; */
    /* 고정값 주기 */

    /* grid-auto-rows: 200px; */
    /* height 값 200px */

    /* grid-auto-rows: minmax(10em, auto); */
    /* height 값 최소 200px이고 컨텐츠의 양만큼 늘어남 */

    /* justify-items: end; */
    /* justify-content와 비슷한 느낌 */

    /* align-items: center;  */
    grid-template-rows: 1fr 9fr;
    padding-left: 30px;
    padding-right: 30px;
}
.main-container .item{
    background: #f5f4f0;
}
/* .main-container .item:nth-child(odd){
    background: var(--main-color);
} */
/* .main-container .item:nth-child(5){
    justify-self: center;
    align-self: center;
} */
/* 아이템 각각 정렬 */

.main-container .item:nth-child(1){
    grid-column: 1/4;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

/* .main-container .item:nth-child(1) .menu-select{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
} */
.main-container .item:nth-child(2) .slider_title_one{
    width: 100%;
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    font-weight: 300;
}
.main-container .item:nth-child(2){
    /* grid-column: 1; */
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    /* background: #b329d9; */
    align-items: center;
    /* border-radius: 10px; */
}

.main-container .item:nth-child(3){
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;  
    
}
.main-container .item:nth-child(3) .menu-select{
    display: flex;
    border-bottom: 2px solid black;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.main-container .item:nth-child(3) .menu-select .menu-select-item{
    font-family: 'Black Han Sans', sans-serif;
    padding: 0.3vh;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    
}
.main-container .item:nth-child(3) .menu-select .menu-select-item .go-to-main{
    text-decoration: none;
}
.main-container .item:nth-child(3) .menu-select .menu-select-item:hover{
    transform: scale(1.1);
}
.main-container .item:nth-child(3) h1{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
}
.main-container .item:nth-child(3) .main-header{
    margin-top: 20px;
    
}
.main-container .item:nth-child(4){
    /* grid-column: 3; */
    grid-row: 2/4;
    border: 2px solid black;
    /* border-radius: 10px; */
}
.main-container .item:nth-child(2) .container .card-wrapper{
    text-align: center;
    line-height: 30px;
    height: 30px;
    color: black;
    /* font-family: 'Black Han Sans', sans-serif; */
    font-size: 15px;
}
.main-container .item:nth-child(2) .container{
    width: 80%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.main-container .item:nth-child(2) .slider_title_two{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    margin-top: 3vh;
    font-weight: 300;
    font-family: 'Black Han Sans', sans-serif;
}
/* .side-button{
    position: fixed;
    bottom: 5vh;
    right: 1vw;
    z-index: 300;
}
.side-button .icon{
    cursor: pointer;
    transition: 0.5s;
    font-size: 3vw;
}
.side-button .icon:hover{
    transform: scale(1.2);
}
.sub-container-one{
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    position: relative;
    border: 1px solid black;
    margin-top: 10vh;
    width: 90%;
    height: 100%;
    background: white;
}
.sub-container-one .slick-arrow{
    transition: 0.4s;
}
.sub-container-one .slick-arrow:hover{
    transform: scale(1.5);
}
.slider_title_one{
    font-size: 70px;
    color: #ffbf47;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.card-wrapper{
    text-align: center;
}
.card-wrapper img{
    width: 100%;
} */


/* sub-container-three */
/* .sub-container-three{
    margin-top: 160px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Black Han Sans', sans-serif;
    align-items: center;
}
.slider_title_three{
    font-size: 70px;
    text-align: start;
    margin-bottom: 50px;
    color: black;
}
.slider_title_three::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: black;
    transition: .5s;
}
.slider_title_three:hover::after{
    width: 100%;
    transition: .5s;
}
.case-contanier{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
} */