@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif+KR&display=swap');
.main-container{
    background-color:darkgreen;
    /* height: 100vh; */
}
.xfile-wrap {
    /* width: 100%;
    height: 100%; */
    margin-top: 100px;
    background-color: white;
    /* background-color: white; */
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.xfile-text-wrap {
    position: sticky;
    top: 200px;
    /* border: 1px solid red; */
    width: 300px;
    height: 400px;
    margin-right: 5%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}
.xfile-text-li{
    list-style: none;
    margin-bottom: 30px;
    line-height: 80%;
    color: #2d3f54;
}
.xfile-text-li:hover {
}
.search-magazine {
    color: #2d3f54;
}
.search-magazine:hover {
    cursor: pointer;
}
.write-magazine {
    color: #2d3f54;
}
.write-magazine:hover {
    cursor: pointer;
}
.xfile-content-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:stretch;
    align-content:stretch;
    padding: 20px 10px 20px 10px;
    /* border: 1px solid blue; */
    width: 70%;
}
/* --------------------- */
.magazine-wrap {
    -webkit-columns: 150px 3;
    -moz-columns: 150px 3;
    columns: 150px 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    /* max-width: 80vw; */
    /* margin: 0 auto; */
    display: block;
    /* -moz-column-fill: balance; */
    /* column-fill: balance; */
}
.magazine {
    min-width: calc(100% - 4px);
    /* min-width: 250px; */
    /* width: 150px; */
    margin: 15px;
    background-color: white;
    min-height: 400px;
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    /* padding: 20px; */
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    transform:scale(1);
    transition: transform .55s;
    background-size: cover;
    /* text-align: center; */
    opacity: 0.9;
}
.lastMagazine {
    min-width: calc(100% - 4px);
    width: 100px;
    margin: 15px;
    min-height: 150px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    transform:scale(1);
    transition: transform .55s;
    background-size: cover;
    opacity: 0.9;
}
.lastMagazine > video {
    width: 100%;
    border-radius: 10px;
}
.magazine-heart {
    width: 30px;
    height: 30px;
    margin: 10px 5px 0 10px;
}
.magazine-heart-count {
    position: relative;
    top: -30px;
    left : 40px;
    font-size: 20px;
    display: block;
    color: white;
}
.magazine:hover{
    cursor: pointer;
    transform:scale(1.06);
    transition: transform .55s;
}
.lastMagazine:hover{
    cursor: pointer;
    transform:scale(1.03);
    transition: transform .55s;
}
.magazine > .magazine-title {
    color : white;
    font-family: 'Noto Serif KR', serif;
    text-align: left;
    text-indent: 10px;
    word-break:break-all;
    margin: 0 auto;
    padding: 0 10px 20px 10px;
    font-size: 25px;
    position:absolute;
    bottom:0;
    right:0;
}
.lastMagazine > .magazine-lastTitle{
    color : white;
    font-family: 'Noto Serif KR', serif;
    text-align: left;
    text-indent: 10px;
    word-break:break-all;
    margin: 0 auto;
    padding: 0 10px 20px 10px;
    font-size: 25px;
    position:absolute;
    bottom:0;
    right:0;
}
.magazine:nth-child(3n){
    height: 300px;
    min-height: 250px;
}
.magazine:nth-child(4n){
    height: 300px;
    min-height: 300px;
}
.magazine:nth-child(5n){
    height: 280px;
    min-height: 250px;
}
.magazine:nth-child(n)::after {
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.lastMagazine:nth-child(1)::after {
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.magazine:nth-child(n):hover::after{
    background-color: black;
    opacity: 0.7;
}
.lastMagazine:nth-child(1):hover::after{
    background-color: black;
    opacity: 0.7;
}
/* .magazine:nth-child(1){
    background-image: url(https://i.pinimg.com/474x/d7/83/de/d783deeba73d4da4d962fefdb3cd3871.jpg);
} */
.magazine:nth-child(2){
    background-image: url(https://i.pinimg.com/474x/bf/7d/ba/bf7dba6aef9de934880aad0af05e5f0e.jpg);
}
.magazine:nth-child(3){
    background-image: url(https://i.pinimg.com/474x/7d/50/32/7d50327a90bb40ef46f7ef2338ae1f36.jpg);
}
.magazine:nth-child(4){
    background-image: url(https://i.pinimg.com/474x/cd/1c/56/cd1c56a60e92d33254bc04f54763b79f.jpg);
}
.magazine:nth-child(5){
    background-image: url(https://i.pinimg.com/474x/65/76/b9/6576b9c9281e35f35f9f5efc6a886ba9.jpg);
}
.magazine:nth-child(6){
    background-image: url(https://i.pinimg.com/474x/db/10/73/db1073dea0ce65c6c3ca9a3aa1f6da06.jpg);
}
.magazine:nth-child(7){
    background-image: url(https://i.pinimg.com/474x/07/14/7e/07147e608e34d1c172d230a25e781a97.jpg);
}
.magazine:nth-child(8){
    background-image: url(https://i.pinimg.com/474x/28/f8/df/28f8dfbed43e573c86bcc0a632ca45da.jpg);
}
.magazine:nth-child(9){
    background-image: url(https://i.pinimg.com/474x/77/43/9e/77439e9b85febcaae4a565a2f990493b.jpg);
}
.magazine:nth-child(10){
    background-image: url(https://i.pinimg.com/474x/51/8d/21/518d21ae5c13c195cef816d292d38d02.jpg);
}
.magazine:nth-child(11){
    background-image: url(https://i.pinimg.com/474x/f8/a9/08/f8a9085ce6d7c5c712dd6d8100d29974.jpg);
}
.magazine:nth-child(12){
    background-image: url(https://i.pinimg.com/474x/8c/31/52/8c3152d01467108318d6824ba060c78a.jpg);
}
.magazine:nth-child(13){
    background-image: url(https://i.pinimg.com/474x/0b/82/f0/0b82f03b72f0a12167183435c4cd9aaa.jpg);
}
.magazine:nth-child(14){
    background-image: url(https://i.pinimg.com/474x/51/d9/4f/51d94f4f1443612a2ad8831ebeced656.jpg);
}
.magazine:nth-child(15){
    background-image: url(https://i.pinimg.com/474x/26/3e/1f/263e1febc63e94393bb660bd1bbd72b1.jpg);
}
.magazine:nth-child(16){
    background-image: url(https://i.pinimg.com/474x/28/59/83/28598387035c97c4b452cd4af352971c.jpg);
}
@media screen and (max-width: 780px){
    .xfile-text-wrap {
        position: fixed;
        top: 60px;
        /* border: 1px solid red; */
        /* background-color: #2d3f54; */
        /* background: white; */
        z-index: 3;
        width: 100%;
        height: 220px;
        font-size: 35px;
    }
    .xfile-text-li{
        margin-bottom: 20px;
        line-height: 100%;
        color: #2d3f54;
    }
    .xfile-text-li:hover {
        cursor: pointer;
    }
    .search-magazine {
        color: #2d3f54;
    }
    .search-magazine:hover {
        cursor: pointer;
    }
    .write-magazine {
        color: #2d3f54;
    }
    .write-magazine:hover {
        cursor: pointer;
    }
    .xfile-wrap{
        padding-left: 5%;
    }
    .xfile-content-wrap {
        display: contents;
        flex-wrap: wrap;
        flex-direction: column;
        align-items:stretch;
        align-content:stretch;
        /* padding: 0px 10px 20px 10px; */
        /* border: 1px solid blue; */
        width: 100%;
    }
    .magazine-wrap {
        -webkit-columns: 250px 3;
        -moz-columns: 250px 3;
        columns: 250px 3;
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
        /* max-width: 80vw; */
        /* margin: 0 auto; */
        display: block;
        /* -moz-column-fill: balance; */
        /* column-fill: balance; */
        padding-top: 200px;
    }
    .magazine {
        min-width: calc(100% - 4px);
        /* min-width: 250px; */
        width: 150px;
        margin: 15px;
        background-color: white;
        /* min-height: 40vh; */
        min-height: 400px;
        display: inline-block;
        position: relative;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
        /* padding: 20px; */
        box-sizing: border-box;
        border-radius: 10px;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        transform:scale(1);
        transition: transform .55s;
        background-size: cover;
        /* text-align: center; */
        opacity: 0.9;
    }
    .magazine-heart {
        width: 30px;
        height: 30px;
        margin: 10px 5px 0 10px;
    }
    .magazine-heart-count {
        position: relative;
        top: -30px;
        left : 40px;
        font-size: 20px;
        display: block;
        color: white;
    }
    .child:hover{
        cursor: pointer;
        transform:scale(1.06);
        transition: transform .55s;
    }
    .magazine > .magazine-title {
        color : white;
        font-family: 'Noto Serif KR', serif;
        text-align: left;
        text-indent: 10px;
        word-break:break-all;
        margin: 0 auto;
        padding: 0 10px 20px 10px;
        font-size: 25px;
        position:absolute;
        bottom:0;
        right:0;
    }
    .magazine:nth-child(3n){
        height: 300px;
        min-height: 250px;
    }
    .magazine:nth-child(4n){
        height: 300px;
        min-height: 300px;
    }
    .magazine:nth-child(5n){
        height: 280px;
        min-height: 250px;
    }
    .magazine:nth-child(n)::after {
        width: 100%;
        height: 100%;
        content: "";
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .magazine:nth-child(n):hover::after{
        background-color: black;
        opacity: 0.7;
    }
}
